.App {
  background-color: #0f100f;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.random_div {
  width: 100%;
  height: 5rem;
  border: 1px solid gray;
  border-radius: 3rem;
}
.container {
  margin: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.score {
  color: #fbf2fa;
  margin: auto;
  margin-bottom: 2rem;
  font-size: 2rem;
}
.right_color {
  display: flex;
  margin: auto;

  margin-bottom: 2rem;
  background-color: #1f1f1f;
  width: 50%;
  border-radius: 2rem;
}
.correct_color_text {
  color: white;
  margin: auto;
  font-size: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.colors_container {
  margin: auto;
  width: 100%;
  display: flex;
  margin-bottom: 2rem;
}
.mr {
  margin-right: 2rem;
}
.start_button {
  margin: auto;
  margin-top: 0;
  width: 70%;
  background-color: #1f1f1f;
  font-size: 2rem;
  color: #fbf2fa;
  padding-top: 2rem;
  padding-bottom: 2rem;
  transition: 300ms;
  border-radius: 2rem;
  border: 0;
}
.start_button:hover {
  background-color: #2e2e2e;
}
